body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin:0 auto;
  padding: 2px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 30px;
  margin: 20px 20px;
}

.content {
  background: #e3f4ff;
  font-size: 20px;
  margin: 20px 20px;
  padding: 18px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 20px 20px;
  padding: 10px;
  font-size: 20px;
}

/* .card * { 
  margin: 20px;
  padding:20px;
  font-size: 30px;
} */

.button-container button {
  background: white;
  border: 1px solid #eee;
  font-size: 20px;
  padding: 10px;
  display: block;
  margin: auto;
  width: 200px;
}

